div{
    padding: 120px;
    margin: 60px;
    border-width: 10px;
    border-left-style: dashed;
    border-left-color: blueviolet;
    border-right-style: dotted;
    border-right-color: blue;
    border-top-style: double;
    border-top-color: red;
    border-bottom-style: groove;
    border-bottom-color: green;
}